Question 1
Load the energy data from the file assets/Energy Indicators.xls, which is a list of indicators of energy supply and renewable electricity production from the United Nations for the year 2013, and should be put into a DataFrame with the variable name of Energy.

Keep in mind that this is an Excel file, and not a comma separated values file. Also, make sure to exclude the footer and header information from the datafile. The first two columns are unneccessary, so you should get rid of them, and you should change the column labels so that the columns are:

['Country', 'Energy Supply', 'Energy Supply per Capita', '% Renewable]

Convert Energy Supply to gigajoules (Note: there are 1,000,000 gigajoules in a petajoule). For all countries which have missing data (e.g. data with "...") make sure this is reflected as np.NaN values.

Rename the following list of countries (for use in later questions):

"Republic of Korea": "South Korea",
"United States of America": "United States",
"United Kingdom of Great Britain and Northern Ireland": "United Kingdom",
"China, Hong Kong Special Administrative Region": "Hong Kong"

There are also several countries with numbers and/or parenthesis in their name. Be sure to remove these, e.g. 'Bolivia (Plurinational State of)' should be 'Bolivia'. 'Switzerland17' should be 'Switzerland'.

Next, load the GDP data from the file assets/world_bank.csv, which is a csv containing countries' GDP from 1960 to 2015 from World Bank. Call this DataFrame GDP.

Make sure to skip the header, and rename the following list of countries:

"Korea, Rep.": "South Korea", 
"Iran, Islamic Rep.": "Iran",
"Hong Kong SAR, China": "Hong Kong"

Finally, load the Sciamgo Journal and Country Rank data for Energy Engineering and Power Technology from the file assets/scimagojr-3.xlsx, which ranks countries based on their journal contributions in the aforementioned area. Call this DataFrame ScimEn.

Join the three datasets: GDP, Energy, and ScimEn into a new dataset (using the intersection of country names). Use only the last 10 years (2006-2015) of GDP data and only the top 15 countries by Scimagojr 'Rank' (Rank 1 through 15).

The index of this DataFrame should be the name of the country, and the columns should be ['Rank', 'Documents', 'Citable documents', 'Citations', 'Self-citations', 'Citations per document', 'H index', 'Energy Supply', 'Energy Supply per Capita', '% Renewable', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015'].

This function should return a DataFrame with 20 columns and 15 entries, and the rows of the DataFrame should be sorted by "Rank".

In [272]:
#SOLUCION EJERCICIO 1

import pandas as pd
import numpy as np
import re

Energy = pd.read_excel('Energy.xls',skiprows=17,skipfooter=38,na_values=['...']) #INTERNET
Energy=Energy.drop(Energy.columns[0:2], axis=1)
Energy.columns=['Country', 'Energy Supply', 'Energy Supply per Capita', '% Renewable']
Energy['Energy Supply']=Energy['Energy Supply'].apply(lambda x: (x)*1000000)

Energy['Country']=Energy['Country'].apply(lambda x: (re.split("[\d]",x)[0]))
Energy['Country']=Energy['Country'].apply(lambda x: (re.split("[\s][()]",x)[0]))

Energy['Country']=Energy['Country'].replace({"Republic of Korea": "South Korea",
                        "United States of America": "United States",
                        "United Kingdom of Great Britain and Northern Ireland": "United Kingdom",
                        "China, Hong Kong Special Administrative Region": "Hong Kong"})


GDP=pd.read_csv('world_bank.csv', skiprows=4)
GDP['Country Name']=GDP['Country Name'].replace({"Korea, Rep.": "South Korea", 
                                                "Iran, Islamic Rep.": "Iran",
                                                "Hong Kong SAR, China": "Hong Kong"})
GDP.rename({'Country Name': 'Country'}, axis=1, inplace=True)

ScimEn=pd.read_excel('scimagojr-3.xlsx')

inner1=pd.merge(ScimEn.iloc[0:15], Energy, how='inner', on=['Country'])
inner1=pd.merge(inner1, GDP.loc[:, {'Country', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015'}].reindex(columns=['Country', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015']), how='inner', on=['Country'])

inner1 = inner1.set_index('Country')
inner1.head(20)

,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,Energy Supply,Energy Supply per Capita,% Renewable,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
Country,,,,,,,,,,,,,,,,,,,,
China,1,127050,126767,597237,411683,4.70,138,1.271910e+11,93.0,19.754910,3.992331e+12,4.559041e+12,4.997775e+12,5.459247e+12,6.039659e+12,6.612490e+12,7.124978e+12,7.672448e+12,8.230121e+12,8.797999e+12
United States,2,96661,94747,792274,265436,8.20,230,9.083800e+10,286.0,11.570980,1.479230e+13,1.505540e+13,1.501149e+13,1.459484e+13,1.496437e+13,1.520402e+13,1.554216e+13,1.577367e+13,1.615662e+13,1.654857e+13
Japan,3,30504,30287,223024,61554,7.31,134,1.898400e+10,149.0,10.232820,5.496542e+12,5.617036e+12,5.558527e+12,5.251308e+12,5.498718e+12,5.473738e+12,5.569102e+12,5.644659e+12,5.642884e+12,5.669563e+12
United Kingdom,4,20944,20357,206091,37874,9.84,139,7.920000e+09,124.0,10.600470,2.419631e+12,2.482203e+12,2.470614e+12,2.367048e+12,2.403504e+12,2.450911e+12,2.479809e+12,2.533370e+12,2.605643e+12,2.666333e+12
Russian Federation,5,18534,18301,34266,12422,1.85,57,3.070900e+10,214.0,17.288680,1.385793e+12,1.504071e+12,1.583004e+12,1.459199e+12,1.524917e+12,1.589943e+12,1.645876e+12,1.666934e+12,1.678709e+12,1.616149e+12
Canada,6,17899,17620,215003,40930,12.01,149,1.043100e+10,296.0,61.945430,1.564469e+12,1.596740e+12,1.612713e+12,1.565145e+12,1.613406e+12,1.664087e+12,1.693133e+12,1.730688e+12,1.773486e+12,1.792609e+12
Germany,7,17027,16831,140566,27426,8.26,126,1.326100e+10,165.0,17.901530,3.332891e+12,3.441561e+12,3.478809e+12,3.283340e+12,3.417298e+12,3.542371e+12,3.556724e+12,3.567317e+12,3.624386e+12,3.685556e+12
India,8,15005,14841,128763,37209,8.58,115,3.319500e+10,26.0,14.969080,1.265894e+12,1.374865e+12,1.428361e+12,1.549483e+12,1.708459e+12,1.821872e+12,1.924235e+12,2.051982e+12,2.200617e+12,2.367206e+12
France,9,13153,12973,130632,28601,9.93,114,1.059700e+10,166.0,17.020280,2.607840e+12,2.669424e+12,2.674637e+12,2.595967e+12,2.646995e+12,2.702032e+12,2.706968e+12,2.722567e+12,2.729632e+12,2.761185e+12
South Korea,10,11983,11923,114675,22595,9.57,104,1.100700e+10,221.0,2.279353,9.410199e+11,9.924316e+11,1.020510e+12,1.027730e+12,1.094499e+12,1.134796e+12,1.160809e+12,1.194429e+12,1.234340e+12,1.266580e+12
Italy,11,10964,10794,111850,26661,10.20,106,6.530000e+09,109.0,33.667230,2.202170e+12,2.234627e+12,2.211154e+12,2.089938e+12,2.125185e+12,2.137439e+12,2.077184e+12,2.040871e+12,2.033868e+12,2.049316e+12
Spain,12,9428,9330,123336,23964,13.08,115,4.923000e+09,106.0,37.968590,1.414823e+12,1.468146e+12,1.484530e+12,1.431475e+12,1.431673e+12,1.417355e+12,1.380216e+12,1.357139e+12,1.375605e+12,1.419821e+12
Iran,13,8896,8819,57470,19125,6.46,72,9.172000e+09,119.0,5.707721,3.895523e+11,4.250646e+11,4.289909e+11,4.389208e+11,4.677902e+11,4.853309e+11,4.532569e+11,4.445926e+11,4.639027e+11,NaN
Australia,14,8831,8725,90765,15606,10.28,107,5.386000e+09,231.0,11.810810,1.021939e+12,1.060340e+12,1.099644e+12,1.119654e+12,1.142251e+12,1.169431e+12,1.211913e+12,1.241484e+12,1.272520e+12,1.301251e+12
Brazil,15,8668,8596,60702,14396,7.00,86,1.214900e+10,59.0,69.648030,1.845080e+12,1.957118e+12,2.056809e+12,2.054215e+12,2.208872e+12,2.295245e+12,2.339209e+12,2.409740e+12,2.412231e+12,2.319423e+12

Question 2
The previous question joined three datasets then reduced this to just the top 15 entries. When you joined the datasets, but before you reduced this to the top 15 items, how many entries did you lose?

This function should return a single number.

In [273]:
%%HTML
<svg width="800" height="300">
  <circle cx="150" cy="180" r="80" fill-opacity="0.2" stroke="black" stroke-width="2" fill="blue" />
  <circle cx="200" cy="100" r="80" fill-opacity="0.2" stroke="black" stroke-width="2" fill="red" />
  <circle cx="100" cy="100" r="80" fill-opacity="0.2" stroke="black" stroke-width="2" fill="green" />
  <line x1="150" y1="125" x2="300" y2="150" stroke="black" stroke-width="2" fill="black" stroke-dasharray="5,3"/>
  <text x="300" y="165" font-family="Verdana" font-size="35">Everything but this!</text>
</svg>

In [275]:
#SOLUCION EJERCICIO 2
innerAll=pd.merge(ScimEn, Energy, how='outer', on=['Country'])
innerAll=pd.merge(innerAll, GDP, how='outer', on=['Country'])

inner2=pd.merge(ScimEn, Energy, how='inner', on=['Country'])
inner2=pd.merge(inner2, GDP, how='inner', on=['Country'])

N=len(innerAll)-len(inner2)
N

158

What are the top 15 countries for average GDP over the last 10 years?

*This function should return a Series named `avgGDP` with 15 countries and their average GDP sorted in descending order.*

In [276]:
import pandas as pd

avgGDP=inner1.loc[:, {'2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015'}].reindex(columns=['2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015'])
avgGDP=avgGDP.mean(axis=1).sort_values(ascending=False)
avgGDP.head(40)

Country
United States         1.536434e+13
China                 6.348609e+12
Japan                 5.542208e+12
Germany               3.493025e+12
France                2.681725e+12
United Kingdom        2.487907e+12
Brazil                2.189794e+12
Italy                 2.120175e+12
India                 1.769297e+12
Canada                1.660647e+12
Russian Federation    1.565459e+12
Spain                 1.418078e+12
Australia             1.164043e+12
South Korea           1.106715e+12
Iran                  4.441558e+11
dtype: float64

4. By how much had the GDP changed over the 10 year span for the country with the 6th largest average GDP?

This function should return a single number.

In [331]:
import pandas as pd
R_4=inner1.loc[:,{'2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015'}].reindex(columns=['2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015'])
R_4=R_4.loc[avgGDP.index[5]]
R_4=R_4[-1]-R_4[0]
R_4

246702696075.3999

In [330]:
A = inner1
_6th = avgGDP.index[5]
_6th
# gdp_list = Top15[[str(i) for i in range(2006, 2016)]]
# result = gdp_list.loc[_6th]
# return result[-1] - result

'United Kingdom'

5. What is the mean energy supply per capita?

*This function should return a single number.*

In [278]:
R_5=inner1.loc[:, {'Energy Supply per Capita'}]
R_5=R_5.mean(axis=0)
R_5

Energy Supply per Capita    157.6
dtype: float64

6. Question 6
What country has the maximum % Renewable and what is the percentage?

This function should return a tuple with the name of the country and the percentage.

In [279]:
R_=inner1.loc[:, {'% Renewable'}]
max=float(R_.max())
R_6=R_[R_['% Renewable'] == max]
Rta=(R_6.index[0], max)
Rta

('Brazil', 69.64803)

### Question 7
Create a new column that is the ratio of Self-Citations to Total Citations. 
What is the maximum value for this new column, and what country has the highest ratio?

*This function should return a tuple with the name of the country and the ratio.*

In [280]:
R_7=inner1
R_7['Ratio']=R_7['Self-citations']/R_7['Citations']
R_7=R_7.loc[:, {'Ratio'}]
max=float(R_7.max())
R_7=R_7[R_7['Ratio'] == max]
Rta7=(R_7.index[0], max)
Rta7

('China', 0.6893126179389422)

Question 8
Create a column that estimates the population using Energy Supply and Energy Supply per capita. What is the third most populous country according to this estimate?

This function should return the name of the country

In [290]:
R_8=inner1
R_8['Population']=R_8['Energy Supply']/R_8['Energy Supply per Capita']
R_8=R_8.loc[:, 'Population'].sort_values(ascending=False) #Forma completa de sort -> sort_values(by='Population', ascending=False, inplace=True)
R_8.index[2]

'United States'

Question 9
Create a column that estimates the number of citable documents per person. What is the correlation between the number of citable documents per capita and the energy supply per capita? Use the .corr() method, (Pearson's correlation).

This function should return a single number.

(Optional: Use the built-in function plot9() to visualize the relationship between Energy Supply per Capita vs. Citable docs per Capita)

In [294]:
R_9=inner1
R_9['Corr']=R_9['Citable documents']/R_9['Population']
result = R_9['Corr'].corr(R_9['Energy Supply per Capita'])
result

0.7940010435442946

Question 10
Create a new column with a 1 if the country's % Renewable value is at or above the median for all countries in the top 15, and a 0 if the country's % Renewable value is below the median.

This function should return a series named HighRenew whose index is the country name sorted in ascending order of rank.

In [312]:
R_10 = inner1
median = R_10['% Renewable'].median()

R_10['HighRenew'] = (R_10['% Renewable'] >= median) *1
# R_10.sort_values('Rank')['HighRenew']
R_10.sort_values('Rank', ascending=True)
R_10['HighRenew']

Country
China                 1
United States         0
Japan                 0
United Kingdom        0
Russian Federation    1
Canada                1
Germany               1
India                 0
France                1
South Korea           0
Italy                 1
Spain                 1
Iran                  0
Australia             0
Brazil                1
Name: HighRenew, dtype: int32

11. Use the following dictionary to group the Countries by Continent, then create a DataFrame that displays the sample size (the number of countries in each continent bin), and the sum, mean, and std deviation for the estimated population of each country.

ContinentDict  = {'China':'Asia', 
                  'United States':'North America', 
                  'Japan':'Asia', 
                  'United Kingdom':'Europe', 
                  'Russian Federation':'Europe', 
                  'Canada':'North America', 
                  'Germany':'Europe', 
                  'India':'Asia',
                  'France':'Europe', 
                  'South Korea':'Asia', 
                  'Italy':'Europe', 
                  'Spain':'Europe', 
                  'Iran':'Asia',
                  'Australia':'Australia', 
                  'Brazil':'South America'}
This function should return a DataFrame with index named Continent ['Asia', 'Australia', 'Europe', 'North America', 'South America'] and columns ['size', 'sum', 'mean', 'std']

In [317]:
R_11 = inner1
#Population
R_11= R_11['Population']

ContinentDict  = {'China':'Asia', 
                  'United States':'North America', 
                  'Japan':'Asia', 
                  'United Kingdom':'Europe', 
                  'Russian Federation':'Europe', 
                  'Canada':'North America', 
                  'Germany':'Europe', 
                  'India':'Asia',
                  'France':'Europe', 
                  'South Korea':'Asia', 
                  'Italy':'Europe', 
                  'Spain':'Europe', 
                  'Iran':'Asia',
                  'Australia':'Australia', 
                  'Brazil':'South America'}

group = R_11.groupby(ContinentDict)

size = group.size().astype('float64')
sum = group.sum()
mean = group.mean()
std = group.std()
result = pd.DataFrame({
    'size': size,
    'sum': sum,
    'mean': mean,
    'std': std
})

result

               size           sum          mean           std
Asia            5.0  2.898666e+09  5.797333e+08  6.790979e+08
Australia       1.0  2.331602e+07  2.331602e+07           NaN
Europe          6.0  4.579297e+08  7.632161e+07  3.464767e+07
North America   2.0  3.528552e+08  1.764276e+08  1.996696e+08
South America   1.0  2.059153e+08  2.059153e+08           NaN

Question 12
Cut % Renewable into 5 bins. Group Top15 by the Continent, as well as these new % Renewable bins. How many countries are in each of these groups?

This function should return a Series with a MultiIndex of Continent, then the bins for % Renewable. Do not include groups with no countries.

In [328]:

ContinentDict  = {'China':'Asia', 
                  'United States':'North America', 
                  'Japan':'Asia', 
                  'United Kingdom':'Europe', 
                  'Russian Federation':'Europe', 
                  'Canada':'North America', 
                  'Germany':'Europe', 
                  'India':'Asia',
                  'France':'Europe', 
                  'South Korea':'Asia', 
                  'Italy':'Europe', 
                  'Spain':'Europe', 
                  'Iran':'Asia',
                  'Australia':'Australia', 
                  'Brazil':'South America'}

R_12 = inner1
cut = pd.cut(R_12['% Renewable'], bins=5)
# cut
R_12['bin'] = cut
# R_12
group = R_12.groupby(by=[ContinentDict, cut])
# #     for name, group in result:
# #         print(name)
# #         print(group)
result = group.size()

result

               % Renewable
Asia           (2.212, 15.753]     4
               (15.753, 29.227]    1
               (29.227, 42.701]    0
               (42.701, 56.174]    0
               (56.174, 69.648]    0
Australia      (2.212, 15.753]     1
               (15.753, 29.227]    0
               (29.227, 42.701]    0
               (42.701, 56.174]    0
               (56.174, 69.648]    0
Europe         (2.212, 15.753]     1
               (15.753, 29.227]    3
               (29.227, 42.701]    2
               (42.701, 56.174]    0
               (56.174, 69.648]    0
North America  (2.212, 15.753]     1
               (15.753, 29.227]    0
               (29.227, 42.701]    0
               (42.701, 56.174]    0
               (56.174, 69.648]    1
South America  (2.212, 15.753]     0
               (15.753, 29.227]    0
               (29.227, 42.701]    0
               (42.701, 56.174]    0
               (56.174, 69.648]    1
dtype: int64

Question 13
Convert the Population Estimate series to a string with thousands separator (using commas). Use all significant digits (do not round the results).

e.g. 12345678.90 -> 12,345,678.90

This function should return a series PopEst whose index is the country name and whose values are the population estimate string

In [327]:
R_13 = inner1
R_13['PopEst'] = R_13['Energy Supply'] /R_13['Energy Supply per Capita']
R_13['PopEst'] = R_13['PopEst'].map(lambda x: format(x, ',')) # Fuente: https://blog.csdn.net/dta0502/article/details/82974541
result = R_13['PopEst']
result

Country
China                 1,367,645,161.2903225
United States          317,615,384.61538464
Japan                  127,409,395.97315437
United Kingdom         63,870,967.741935484
Russian Federation            143,500,000.0
Canada                  35,239,864.86486486
Germany                 80,369,696.96969697
India                 1,276,730,769.2307692
France                  63,837,349.39759036
South Korea            49,805,429.864253394
Italy                  59,908,256.880733944
Spain                    46,443,396.2264151
Iran                    77,075,630.25210084
Australia              23,316,017.316017315
Brazil                 205,915,254.23728815
Name: PopEst, dtype: object

In [6]:
import numpy as np

a = np.arange(8)
b = a[4:6]
b[:] = 40
c = a[4] + a[6]
c

46

In [9]:
import numpy as np
import pandas as pd
a = pd.Series([1, 1, 1, np.nan], index=['a', 'b', 'c', 'd'])
b = pd.Series([1, np.nan, 1, np.nan], index=['a', 'b', 'd', 'e'])

c=a.add(b, fill_value=0)
c

a    2.0
b    1.0
c    1.0
d    1.0
e    NaN
dtype: float64

In [22]:
import pandas as pd
import numpy as np
R1=pd.Series({'a':5,
              'b':6,
              'c':20})
R2=pd.Series({'a' : 5,
              'b' : 82,
              'c' : 28})
R3=pd.Series({'a' : 71,
              'b' : 31,
              'c' : 92})
R4=pd.Series({'a' : 67,
              'b' : 37,
              'c' : 49})

df = pd.DataFrame([R1, R2, R3, R4],
                  index=['R1', 'R2', 'R3', 'R4'])
df

f = lambda x: x.max() + x.min()
df_new = df.apply(f)
df_new

R1.index[0]

'a'

In [27]:
import pandas as pd
import numpy as np
R1=pd.Series({'Item':'item:1',
              'Store': 'A',
              'Quantity sold':10})
R2=pd.Series({'Item':'item:1',
              'Store': 'B',
              'Quantity sold':20})
R3=pd.Series({'Item':'item:1',
              'Store': 'C',
              'Quantity sold': None})
R4=pd.Series({'Item':'item:2',
              'Store': 'A',
              'Quantity sold':5})
R5=pd.Series({'Item':'item:2',
              'Store': 'B',
              'Quantity sold':10})
R6=pd.Series({'Item':'item:2',
              'Store': 'C',
              'Quantity sold':15})

df = pd.DataFrame([R1, R2, R3, R4, R5, R6])
df
df=df.groupby('Item').sum()
df

        Quantity sold
Item
item:1           30.0
item:2           30.0